<%= render partial: "/layouts/navbar" %>


<div>
 <h3> Welcome, <%= @child.name %>. It's story time!<br> </h3>
</div>
<br>


<a href="/children/<%= @child.id %>/edit"><button type="button" class="btn btn-material-green">Edit</button></a>




