
<div>
  <h1>Read It Again!</h1>
</div>
<button class = "btn btn-material-green"><a href="/users/new">Sign Up</a></button>
<button class = "btn btn-material-green"><a href="/sign_in"> Log In </a></button>

<script>
</script>


<div id="complete-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

<div class="row" "shadow-z-2 div-material-amber">
  <div class="col-md-3"></div>
  <div class="col-md-6" >
</div>
  <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>



<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <a href="http://bootsnipp.com/iframe/g6GWQ" target=
              "_blank">View full screen</a>
            </li>

            <li>
              <a href="#">Features</a>
            </li>

            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Full screen background cover page.</h1>

        <p class="lead">Cover is a one-page template for building simple and
        beautiful home pages. Download, edit the text, and add your own
        fullscreen background color and photo to make it your own.
            
        <small>    <br> <a href="http://bootsnipp.com/iframe/g6GWQ" target=
              "_blank">Best viewed on full screen</a></small>
            
        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href="#">Learn
        more</a></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p><a href=
          "http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
          target="_blank"><small>HTML</small><sup>5</sup></a></p>
          
          
          <p><a href=
          "https://github.com/twbs/bootlint"
          target="_blank"><small>Checked with Bootlint</small></a></p>          
      
          


        </div>
      </div>
    </div>
</div>
</div>