

<div class="navbar navbar-success">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-success-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button><% if @logged_in %>
        <a href="/users/<%= @user.id %>"><% else %><a href="/"><%end%><img src="" height="55"></a></div>
  <div class="navbar-collapse collapse navbar-success-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/users">Instructions</a></li>
      <li class = "dropdown">
      <a href="bootstrap-elements.html" data-target="#" class-"dropdown-toggle" data-toggle="dropdown">Children <b class="caret"></b></a>
        <ul class = "dropdown-menu">
          <li><a href="/cities/san-francisco">Child 1</a></li>
          <li><a href="/cities/london">Child 2</a></li>
          <li><a href="/cities/gibraltar">Child 3</a></li>
        </ul>
        <li class="active"><a href="/posts">All Posts</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if @logged_in %>
      <li><a href="/users/<%= @user.id %>/edit">Edit Profile</a></li>
			<li><%= link_to "Log out", logout_path, method: :delete %></li>
		<% else %>
			<li><a href="/sign_in">Log in</a></li>
		<% end %>
    </ul>
  </div>
</div>

